@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/RobotoRegular.eot");
  src: url("../assets/fonts/Roboto/RobotoRegular.woff") format("woff"),
    url("../assets/fonts/Roboto/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/RobotoMedium.eot");
  src: url("../assets/fonts/Roboto/RobotoMedium.woff") format("woff"),
    url("../assets/fonts/Roboto/RobotoMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/RobotoBold.eot");
  src: url("../assets/fonts/Roboto/RobotoBold.woff") format("woff"),
    url("../assets/fonts/Roboto/RobotoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

ul li {
  list-style: disc inside;
  margin-bottom: 10px;
}

*,
:after,
:before {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 35px;
}

h2 {
  font-size: 1.5em;
  line-height: 25px;
}
/*Custom styles*/

.header {
  padding: 30px 0 0;
}

.name {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 15px;
  margin: 30px 0;
}

.title {
  font-weight: 500;
  margin-bottom: 20px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

hr {
  height: 0.25em;
  padding: 0;
  margin: 30px 0;
  background-color: #e1e4e8;
  border: 0;
}

.qualification__list {
  margin: 0;
  padding: 0;
}

.qualification__item {
  list-style: none;
}

.skills ul {
  margin-bottom: 30px;
}

.experience__item {
  margin-bottom: 30px;
}

.footer {
  display: flex;
  padding: 30px 0;
  align-items: flex-end;
}

.footer__item {
  margin-right: 20px;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 100px;
}
